[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

[versions]
# Plone 5.2's own pin, zc.buildout 3.0.1, has a race-condition bug in
# _move_to_eggs_dir_and_compile() that raises a bare AssertionError
# instead of the real error (fixed in 3.1.0, see
# https://github.com/buildout/buildout/issues/307). Stay below 4.0,
# which requires Python >= 3.9 and would break py27/py36/py37/py38.
zc.buildout = 3.1.0
